{{#if user.friends}}
{{#each user.friends as |friends|}}
{{>friend-details}}
{{/each}}
{{else}}

<br>
<div class="container">
    <div class="card text-center">
        <div class="card-header friend-name">
            You don't have any friends yet. <i class="far fa-frown"></i>
            <br>
            <br>
            Please go to the clashes page if you would like to add some.
        </div>
    </div>
</div>
{{/if}}