<br>
<br>
<br>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Sign Up
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
  aria-hidden="true">
    <div class="modal-dialog signin_dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <img src="images/frienemies.png" alt=""> --}}
          <p>Registering to this website, you accept our terms of use and our<a href="#"> privacy policy</a> </p>
        </div>
        <div class="modal-body signin_modal">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <button class="nav-link active" id="home-tab" data-toggle="tab" href= "#signup"  role="tab" 
                 aria-controls="home" aria-selected="true">Sign Up</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="profile-tab" data-toggle="tab" href= "#signin" role="tab" 
                 aria-controls="profile" aria-selected="false">Sign In</button>
            </li>
          </ul>
          </div>
              <div class="tab-content signup_tab" id="myTabContent">
                <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="home-tab">
                  <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="First_name" aria-describedby="textHelp" placeholder="First Name">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" class="form-control" id="Last_name" aria-describedby="textHelp" placeholder="Last Name">
                  </div>
                  <br>
                    <div class="form-group">
                    <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Email">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="password" class="form-control" id="signupPassword" placeholder="Password">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-block">Create An Account</button>
                  <p class="signin_link" >Already Made a Frienemy? <a id="profile-tab" data-toggle="tab" href= "#signin" role="tab" 
                    aria-controls="profile" aria-selected="false">Sign In</a></p>
                </form>
              </div>
              <div class="tab-pane fade" id="login-form" role="tabpanel" aria-labelledby="profile-tab">
                <form>
                  <div class="form-group">
                    <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Email">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                  </div>
                  <p class="forgot_link"><a href="#">Forgot your Password ?</a></p>
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                  <p class="signin_link" >Dont have a Frienemy? <a id="home-tab" data-toggle="tab" href= "#signup"  role="tab" 
                    aria-controls="home" aria-selected="true">Sign Up</a></p>
                </form>
              </div>
              </div>
          </div>
        </div>
    </div>
  </div>