/* ---------------- MAIN HANDLEBARS ---------------- */

/* logo and navbar attributes */
.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  font-size: x-large;
}

/* ------ CLASHES AND FRIENDS PAGE HANDLEBARS ------ */
/* removes bullet from unordered list */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* makes friend ID invisable */
.friend-id {
  color: #ffffff00;
}

/* resizes image */
.user-image {  
  height: 100px;
  width: 100px;
  border-radius: 60px;
  margin: 20px;
}